In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Arbitration Data from MLB Trade Rumors

In [150]:
# Get Arbitrage Table from MLBTRADERUMORS

years = []
table_id = 'arbitration_submissions'

for year in range(2010, 2022):
    url = f'https://transactions.mlbtraderumors.com/widget/arbitration-submissions/{year}'
    response = requests.get(url)
    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')
          
        # Find the table by the table_id
        table = soup.find('table', {'id': table_id})
    
        # Check if the table was found
        if table:
            # Convert the table to a DataFrame
            df = pd.read_html(str(table), header=0, index_col=0)[0]
            
            df["Season"] = year
            
            years.append(df)

        else:
            print(f"Table with ID '{table_id}' not found on the page.")                         

arb_data = pd.concat(years)
arb_data = arb_data.reset_index()
arb_data.head()

arb_data.to_csv('./data/mlb-trade-rumors_raw.csv', index=False)

/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2004561609.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]

In [252]:
df = pd.read_csv('./data/mlb-trade-rumors_raw.csv')

df['Super Two'] = df['Service'].astype(str).str.contains('⇑')
df['Service'] = df['Service'].str.replace('⇑', '').astype(float)

df['Player'] = df['Player'].str.replace('†', '')
df['Player'] = df['Player'].str.replace('‡', '')

df['Extension'] = df['Settled Amt.'].astype(str).str.contains('Extension')

df['Year'] = df['Season']+1

df['Non-Tendered'] = False
df['Outrighted'] = False

df['Next Year Salary'] = pd.to_numeric(df['Settled Amt.'].replace('[\$,]', '', regex=True).str.replace('MM', ''), errors='coerce').astype(float) * 1e6

split_names = df['Player'].str.split(' ', n=1, expand=True)
df[['first_name', 'last_name']]  = split_names
df['Source'] = 'MLBTR'



df = df[~((df['Player'] == 'Randall Delgado') & (df['Service'] == 5.1) & (df['Season'] == 2016))]

# df.loc[(df['Player'] == "Randall Delgado") & (df['Season'] == 2016), 'Next Year Salary'] = 1275000
df.loc[(df['Player'] == "Aaron Judge") & (df['Season'] == 2021), 'Next Year Salary'] = 19000000
df.loc[(df['Player'] == "Adam Duvall") & (df['Season'] == 2021), 'Next Year Salary'] = 9275000
df.loc[(df['Player'] == "Adam Frazier") & (df['Season'] == 2021), 'Next Year Salary'] = 8000000
df.loc[(df['Player'] == "Adrian Houser") & (df['Season'] == 2021), 'Next Year Salary'] = 2524000
df.loc[(df['Player'] == "Andrew Benintendi") & (df['Season'] == 2021), 'Next Year Salary'] = 8500000
df.loc[(df['Player'] == "Austin Riley") & (df['Season'] == 2021), 'Next Year Salary'] = 3950000
df.loc[(df['Player'] == "Bryan Reynolds") & (df['Season'] == 2021), 'Extension'] = True
df.loc[(df['Player'] == "Chris Bassitt") & (df['Season'] == 2021), 'Next Year Salary'] = 8800000
df.loc[(df['Player'] == "Dansby Swanson") & (df['Season'] == 2021), 'Next Year Salary'] = 10000000
df.loc[(df['Player'] == "Gary Sanchez") & (df['Season'] == 2021), 'Next Year Salary'] = 9000000
df.loc[(df['Player'] == "Jacob Stallings") & (df['Season'] == 2021), 'Next Year Salary'] = 2450000
df.loc[(df['Player'] == "Jesse Winker") & (df['Season'] == 2021), 'Extension'] = True
df.loc[(df['Player'] == "Joey Wendle") & (df['Season'] == 2021), 'Next Year Salary'] = 4550000
df.loc[(df['Player'] == "John Means") & (df['Season'] == 2021), 'Extension'] = True
df.loc[(df['Player'] == "Kyle Freeland") & (df['Season'] == 2021), 'Extension'] = True
df.loc[(df['Player'] == "Luis Arraez") & (df['Season'] == 2021), 'Next Year Salary'] = 2125000
df.loc[(df['Player'] == "Lucas Sims") & (df['Season'] == 2021), 'Extension'] = True
df.loc[(df['Player'] == "Max Fried") & (df['Season'] == 2021), 'Next Year Salary'] = 6850000
df.loc[(df['Player'] == "Nicky Lopez") & (df['Season'] == 2021), 'Next Year Salary'] = 2550000
df.loc[(df['Player'] == "Pablo Lopez") & (df['Season'] == 2021), 'Next Year Salary'] = 2450000
df.loc[(df['Player'] == "Lucas Sims") & (df['Season'] == 2021), 'Non-Tendered'] = True
df.loc[(df['Player'] == "Tyler O'Neill") & (df['Season'] == 2021), 'Next Year Salary'] = 3400000
df.loc[(df['Player'] == "Willson Contreras") & (df['Season'] == 2021), 'Next Year Salary'] = 9625000
df.loc[(df['Player'] == "Zach Eflin") & (df['Season'] == 2021), 'Extension'] = True
df.loc[(df['Player'] == "Luke Jackson") & (df['Season'] == 2021), 'Next Year Salary'] = 3600000
df.loc[(df['Player'] == "Paul Janish") & (df['Season'] == 2011), 'Next Year Salary'] = 850000
df.loc[(df['Player'] == "Cesar Jimenez") & (df['Season'] == 2014), 'Non-Tendered'] = True

df.drop(['Player  Amt.', 'Team Amt.', 'Midpoint', 'Settled Amt.', 'Super Two', 'Season'], axis=1, inplace=True)


df.to_csv('./data/arb_data_mlbTR.csv', index=False)
# df[df['Missing' == True]].head()
# df.loc[(df['Missing'] == True) & (df['Extension'] == False)]
# df.loc[(df['Player'] == 'Kyle Freeland')]
df[df['Player'] == 'Willy Adames']
# df

,Player,Team,Service,Extension,Year,Non-Tendered,Outrighted,Next Year Salary,first_name,last_name,Source
2264,Willy Adames,Brewers,3.105,False,2022,False,False,4600000.0,Willy,Adames,MLBTR

In [7]:
# # Sportstract Arbitrage Data
# table_class = "datatable"
# url = 'https://www.spotrac.com/mlb/arbitration/2022/all/'
# 
# response = requests.get(url)
# # Check if the request was successful (status code 200)
# if response.status_code == 200:
#     # Parse the HTML content of the page
#     soup = BeautifulSoup(response.text, 'html.parser')
#     
#     
#       
#     # Find the table by the table_id
#     table = soup.find('table', {'class': table_class})
# 
#     # Check if the table was found
#     if table:
#         # Convert the table to a DataFrame
#         df = pd.read_html(str(table), header=0, index_col=0)[0]
#         
#         df["Season"] = 2022
#         
#         df.head()
# 
#     else:
#         print(f"Table with ID '{table_class}' not found on the page.")
#         
# df = df.reset_index()
# df.to_csv('./data/sportstrack2022.csv', index=False)
# df.head()

/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_30720/2935043699.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]

# 2023 and 2024 Arbitration Data

In [292]:
cots = pd.read_csv('./data/arb-data-2023-2024.csv')

cots['Source'] = 'Cots'

columns_to_check = ['Player Request', 'Club Offer', 'Next Year Salary', 'Estimate/Notes']
cots['Extension'] = cots[columns_to_check].apply(lambda x: any('ext' in str(value) for value in x), axis=1)
cots['Non-Tendered'] = cots['Club Offer'].str.contains('non-tendered')
cots['Outrighted'] = cots['Club Offer'].str.contains('outrighted')

# Missing Salary Info
# cots[~(cots['Extension'] | cots['Outrighted'] | cots['Non-Tendered']) & pd.isna(cots['Next Year Salary']) & (cots['Season'] == 2023)] 
cots.loc[(cots['Player'] == "McNeil, Jeff") & (cots['Season'] == 2023), 'Extension'] = True
cots.loc[(cots['Player'] == "Urshela, Giovanny") & (cots['Season'] == 2023), 'Next Year Salary'] = "$8,400,000"
cots.loc[(cots['Player'] == "Fairbanks, Pete") & (cots['Season'] == 2023), 'Extension'] = True
cots.loc[(cots['Player'] == "Vogelbach, Daniel") & (cots['Season'] == 2023), 'Extension'] = True
cots.loc[(cots['Player'] == "Kinley, Tyler") & (cots['Season'] == 2023), 'Extension'] = True
cots.loc[(cots['Player'] == "Cave, Jake") & (cots['Season'] == 2023), 'Next Year Salary'] = "$950,000"
cots.loc[(cots['Player'] == "Borucki, Ryan") & (cots['Season'] == 2023), 'Non-Tendered'] = True
cots.loc[(cots['Player'] == "Blach, Ty") & (cots['Season'] == 2023), 'Outrighted'] = True
cots.loc[(cots['Player'] == "Raley, Luke") & (cots['Season'] == 2023), 'Outrighted'] = True #Pre-Arb
cots.loc[(cots['Player'] == "Torrens, Luis") & (cots['Season'] == 2023), 'Outrighted'] = True

# More Formatting Data
cots['Next Year Salary'] = pd.to_numeric(cots['Next Year Salary'].replace('[\$,]', '', regex=True), errors='coerce')
cots['Year Salary'] = pd.to_numeric(cots['Year Salary'].replace('[\$,]', '', regex=True), errors='coerce')
cots.rename(columns={'MLS': 'Service'}, inplace=True)
cots.rename(columns={'Club': 'Team'}, inplace=True)

# Reformat Name
cots[['Last', 'First', 'Suffix']] = cots['Player'].str.extract(r'([^,]+),\s*([^ ]+)(?:\s+([^ ]+))?')
cots['Player'] = cots.apply(lambda row: f"{row['First']} {row['Last']}" if pd.isna(row['Suffix']) else f"{row['First']} {row['Last']} {row['Suffix']}", axis=1)
cots.drop(['Last', 'First', 'Suffix'], axis=1, inplace=True)

split_names = cots['Player'].str.split(' ', n=1, expand=True)
cots[['first_name', 'last_name']]  = split_names

cots.rename(columns={'Season' : 'Year'}, inplace=True)

# clear 2024 data
cots.loc[cots['Year'] == 2024, 'Next Year Salary'] = np.nan
cots.drop(['Year WAR/WARP', 'Career WARP', 'Year Salary', 'Player Request', 'Club Offer', 'Estimate/Notes'], axis=1, inplace=True)
cots.to_csv('./data/arb_data_cots.csv', index=False)
cots

,Player,Year,Team,Position,Service,Next Year Salary,Source,Extension,Non-Tendered,Outrighted,first_name,last_name
0,Corbin Burnes,2023,MIL,rhp-s,4.049,10010000.0,Cots,False,False,False,Corbin,Burnes
1,Pete Alonso,2023,NYN,1b,4.000,14500000.0,Cots,False,NaN,NaN,Pete,Alonso
2,Dylan Cease,2023,CHA,rhp,3.089,5700000.0,Cots,False,NaN,NaN,Dylan,Cease
3,Christian Walker,2023,ARI,1b,4.124,6500000.0,Cots,False,NaN,NaN,Christian,Walker
4,Zac Gallen,2023,ARI,rhp-s,3.100,5600000.0,Cots,False,NaN,NaN,Zac,Gallen
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Matt Foster,2024,CHA,rhp,3.093,NaN,Cots,False,NaN,NaN,Matt,Foster
610,Casey Mize,2024,DET,rhp-s,3.111,NaN,Cots,False,NaN,NaN,Casey,Mize
611,J.P. Feyereisen,2024,LAN,rhp,3.108,NaN,Cots,False,NaN,NaN,J.P.,Feyereisen
612,Vladimir Gutierrez,2024,CIN,rhp,2.127,NaN,Cots,False,NaN,NaN,Vladimir,Gutierrez
613,Justin Dunn,2024,CIN,rhp,4.020,NaN,Cots,False,NaN,NaN,Justin,Dunn

# Create Arbitration Data File for 2010-2024

In [258]:
mlbtr = pd.read_csv('./data/arb_data_mlbTR.csv')
cots = pd.read_csv('./data/arb_data_cots.csv')
arb = pd.concat([mlbtr, cots], ignore_index=True)
print(mlbtr.shape) # (2268, 11)
print(cots.shape) # (614, 11)
print(arb.shape) # (2882, 12)

arb.to_csv('./data/arb_data_2010-2024.csv', index=False)

(2267, 11)
(614, 11)
(2881, 11)

In [261]:
left_duplicates = arb[arb.duplicated(subset=['first_name', 'last_name', 'Year'])]
print(left_duplicates)

# arb[arb['Player'] == 'Randall Delgado']

Empty DataFrame
Columns: [Player, Team, Service, Extension, Year, Non-Tendered, Outrighted, Next Year Salary, first_name, last_name, Source]
Index: []

# Salary Information for 2010-2022

In [291]:
salaries = pd.read_csv('./data/mlb-salaries_2010-2023.csv')
salaries2009 = pd.read_csv('./data/mlb-salaries_2000-2010.csv')
arb = pd.read_csv('./data/arb_data_2010-2024.csv')

# salaries = salaries[~df['Player'] == 'AVERAGE']
salaries['Salary'] = pd.to_numeric(salaries['Salary'].replace('[\$,]', '', regex=True), errors='coerce')

salaries[['Last', 'First', 'Suffix']] = salaries['Player'].str.extract(r'([^,]+),\s*([^ ]+)(?:\s+([^ ]+))?')
salaries['Player'] = salaries.apply(lambda row: f"{row['First']} {row['Last']}" if pd.isna(row['Suffix']) else f"{row['First']} {row['Last']} {row['Suffix']}", axis=1)
salaries.drop(['Last', 'First', 'Suffix'], axis=1, inplace=True)
split_names = salaries['Player'].str.split(' ', n=1, expand=True)
salaries[['first_name', 'last_name']]  = split_names

salaries['Year'] = salaries['Year']+1

salaries2009 = salaries2009[salaries2009['Year'] == 2009]
salaries2009['Salary'] = pd.to_numeric(salaries2009['Salary'].replace('[\$,]', '', regex=True), errors='coerce')

salaries2009[['Last', 'First', 'Suffix']] = salaries2009['Player'].str.extract(r'([^,]+),\s*([^ ]+)(?:\s+([^ ]+))?')
salaries2009['Player'] = salaries2009.apply(lambda row: f"{row['First']} {row['Last']}" if pd.isna(row['Suffix']) else f"{row['First']} {row['Last']} {row['Suffix']}", axis=1)
salaries2009.drop(['Last', 'First', 'Suffix'], axis=1, inplace=True)
split_names = salaries2009['Player'].str.split(' ', n=1, expand=True)
salaries2009[['first_name', 'last_name']]  = split_names

salaries2009['Year'] = salaries2009['Year']+1
# salaries2009.head()
previous_salaries_all = pd.concat([salaries, salaries2009], ignore_index=True)

# left_duplicates = arb[arb.duplicated(subset=['first_name', 'last_name', 'Season'])]
# print(left_duplicates)

# left join salaries to arb
arb_salaries = pd.merge(arb, previous_salaries_all[['Salary', 'first_name', 'last_name', 'Year']], how='left', left_on=['first_name', 'last_name', 'Year'], right_on=['first_name', 'last_name', 'Year'])

print(arb.shape) # (2268, 14)
print(previous_salaries_all.shape) # (16530, 8)
print(arb_salaries.shape) # (2270, 16)

arb_salaries['Salary Diff'] = arb_salaries['Next Year Salary'] - arb_salaries['Salary']

arb_salaries.to_csv('./data/arb_salaries_2010-2024.csv', index=False)


# show all rows where the Player is Jones, Adam
# salaries.loc[salaries['Player'] == 'Jones, Adam']
arb_salaries.loc[arb_salaries['Salary Diff'].isna()]

(2881, 11)
(16530, 7)
(2887, 12)

,Player,Team,Service,Extension,Year,Non-Tendered,Outrighted,Next Year Salary,first_name,last_name,Source,Salary,Salary Diff
9,Armando Galarraga,Tigers,2.148,False,2011,False,False,2300000.0,Armando,Galarraga,MLBTR,NaN,NaN
12,Bill Bray,Reds,3.018,False,2011,False,False,645000.0,Bill,Bray,MLBTR,NaN,NaN
13,Billy Butler,Royals,3.102,True,2011,False,False,NaN,Billy,Butler,MLBTR,470000.0,NaN
14,Boone Logan,Yankees,3.140,False,2011,False,False,1200000.0,Boone,Logan,MLBTR,NaN,NaN
19,Brendan Ryan,Mariners,3.082,True,2011,False,False,NaN,Brendan,Ryan,MLBTR,425000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2882,Matt Foster,CHA,3.093,False,2024,NaN,NaN,NaN,Matt,Foster,Cots,734000.0,NaN
2883,Casey Mize,DET,3.111,False,2024,NaN,NaN,NaN,Casey,Mize,Cots,734200.0,NaN
2884,J.P. Feyereisen,LAN,3.108,False,2024,NaN,NaN,NaN,J.P.,Feyereisen,Cots,750000.0,NaN
2885,Vladimir Gutierrez,CIN,2.127,False,2024,NaN,NaN,NaN,Vladimir,Gutierrez,Cots,730000.0,NaN
2886,Justin Dunn,CIN,4.020,False,2024,NaN,NaN,NaN,Justin,Dunn,Cots,900000.0,NaN

In [285]:
previous_salaries_all[(previous_salaries_all['first_name'] == 'Jackie') & (previous_salaries_all['last_name'] == 'Bradley Jr.')]
# previous_salaries_all[(previous_salaries_all['Player'] == 'Bradley Jr, Jackie')]

,Player,Position,MLS,Salary,Year,first_name,last_name
3503,Jackie Bradley Jr.,lf,0.000,490000.0,2014.0,Jackie,Bradley Jr.
4304,Jackie Bradley Jr.,cf,0.059,502000.0,2015.0,Jackie,Bradley Jr.
5805,Jackie Bradley Jr.,cf,1.059,NaN,2016.0,Jackie,Bradley Jr.
6630,Jackie Bradley Jr.,cf,1.150,546500.0,2017.0,Jackie,Bradley Jr.
7288,Jackie Bradley Jr.,cf,2.150,3600000.0,2018.0,Jackie,Bradley Jr.
8417,Jackie Bradley Jr.,cf,3.150,6100000.0,2019.0,Jackie,Bradley Jr.
9590,Jackie Bradley Jr.,cf,4.150,8550000.0,2020.0,Jackie,Bradley Jr.
10784,Jackie Bradley Jr.,cf,5.150,11000000.0,2021.0,Jackie,Bradley Jr.
11955,Jackie Bradley Jr.,cf,6.150,13000000.0,2022.0,Jackie,Bradley Jr.
13279,Jackie Bradley Jr.,cf,7.150,9139485.0,2023.0,Jackie,Bradley Jr.
14978,Jackie Bradley Jr.,cf,8.150,900000.0,2024.0,Jackie,Bradley Jr.