In [36]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [37]:
# Get Arbitrage Table from MLBTRADERUMORS

years = []
table_id = 'arbitration_submissions'

for year in range(2010, 2022):
    url = f'https://transactions.mlbtraderumors.com/widget/arbitration-submissions/{year}'
    response = requests.get(url)
    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')
          
        # Find the table by the table_id
        table = soup.find('table', {'id': table_id})
    
        # Check if the table was found
        if table:
            # Convert the table to a DataFrame
            df = pd.read_html(str(table), header=0, index_col=0)[0]
            
            df["Season"] = year+1
            
            years.append(df)

        else:
            print(f"Table with ID '{table_id}' not found on the page.")                         

arb_data = pd.concat(years)
arb_data = arb_data.reset_index()
arb_data.head()

/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_26705/3472463238.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), header=0, index_col=0)[0]

,Player,Team,Service,Player Amt.,Team Amt.,Midpoint,Settled Amt.,Season
0,Adam Jones,Orioles,3.139,NaN,NaN,NaN,$3.250MM,2011
1,Alberto Callaspo,Angels,3.135,NaN,NaN,NaN,$2.000MM,2011
2,Alberto Gonzalez,Nationals,2.135 ⇑,NaN,NaN,NaN,$0.600MM,2011
3,Alex Gordon,Royals,3.092,NaN,NaN,NaN,$1.400MM,2011
4,Alexi Casilla,Twins,3.038,NaN,NaN,NaN,$0.865MM,2011

In [39]:
df = arb_data

df['Super Two'] = df['Service'].astype(str).str.contains('⇑')
df['Service'] = df['Service'].str.replace('⇑', '').astype(float)

df.head()

,Player,Team,Service,Player Amt.,Team Amt.,Midpoint,Settled Amt.,Season,Super Two
0,Adam Jones,Orioles,3.139,NaN,NaN,NaN,$3.250MM,2011,False
1,Alberto Callaspo,Angels,3.135,NaN,NaN,NaN,$2.000MM,2011,False
2,Alberto Gonzalez,Nationals,2.135,NaN,NaN,NaN,$0.600MM,2011,True
3,Alex Gordon,Royals,3.092,NaN,NaN,NaN,$1.400MM,2011,False
4,Alexi Casilla,Twins,3.038,NaN,NaN,NaN,$0.865MM,2011,False

In [41]:
arb_data.head()

,Player,Team,Service,Player Amt.,Team Amt.,Midpoint,Settled Amt.,Season,Super Two
0,Adam Jones,Orioles,3.139,NaN,NaN,NaN,$3.250MM,2011,False
1,Alberto Callaspo,Angels,3.135,NaN,NaN,NaN,$2.000MM,2011,False
2,Alberto Gonzalez,Nationals,2.135,NaN,NaN,NaN,$0.600MM,2011,True
3,Alex Gordon,Royals,3.092,NaN,NaN,NaN,$1.400MM,2011,False
4,Alexi Casilla,Twins,3.038,NaN,NaN,NaN,$0.865MM,2011,False

In [43]:
arb_data.to_csv('./data/arb_data_mlbTR.csv', index=False)