In [1]:
import pandas as pd
import numpy as np

In [40]:
arb1 = pd.read_csv('./data/arb-data-2018-2022.csv')
arb2 = pd.read_csv('./data/arb-data-2023-2024.csv')

In [41]:
print(arb1.shape)
print(arb2.shape)
arb1.head()

(1285, 12)
(614, 12)

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,Next Year Salary,Estimate/Notes
0,"Blackmon, Charlie",2018,COL,cf,5.102,7.9,18.0,"$7,300,000",NaN,NaN,"$14,000,000",NaN
1,"Bryant, Kris",2018,CHN,3b,2.171,6.6,21.5,"$1,050,000",NaN,NaN,"$10,850,000",NaN
2,"Rendon, Anthony",2018,WAS,3b,4.130,6.2,17.7,"$5,800,000",NaN,NaN,"$12,300,000",NaN
3,"Ozuna, Marcell",2018,SLN,lf,4.124,6.1,14.8,"$3,500,000",NaN,NaN,"$9,000,000",NaN
4,"deGrom, Jacob",2018,NYN,rhp-s,3.139,5.9,17.1,"$4,050,000",NaN,NaN,"$7,400,000",NaN

In [42]:
arb1['Estimate/Notes'] = arb1['Estimate/Notes'].astype(str)
arb2['Estimate/Notes'] = arb2['Estimate/Notes'].astype(str)
arbs = pd.concat([arb1, arb2], ignore_index=True)
arbs.to_csv('./data/all-arb-data.csv', index=False)
arbs.shape

(1899, 12)

In [48]:
arbs = pd.read_csv('./data/all-arb-data.csv')
# Remove dollar sign and commas, then convert to numeric
arbs['Year Salary'] = pd.to_numeric(arbs['Year Salary'].replace('[\$,]', '', regex=True))
# arbs['Next Year Salary'] = pd.to_numeric(arbs['Next Year Salary'].replace('[\$,]', '', regex=True))
arbs.head()

ValueError: Unable to parse string "2 y/27.5 extn" at position 478

In [63]:
# Arb Hitters
arb_bat = arbs[~arbs['Position'].str.contains('hp')]
arb_bat.head()

# Arb Pitchers
arb_pitch = arbs[arbs['Position'].str.contains('hp')]
arb_pitch.head()

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,Next Year Salary,Estimate/Notes
4,"deGrom, Jacob",2018,NYN,rhp-s,3.139,5.9,17.1,4050000.0,NaN,NaN,"$7,400,000",NaN
8,"Keuchel, Dallas",2018,HOU,lhp-s,5.089,4.7,19.6,9150000.0,NaN,NaN,"$13,200,000",NaN
12,"Stroman, Marcus",2018,TOR,rhp-s,3.148,4.4,11.5,3400000.0,"$6,500,000","$6,900,000","$6,500,000",NaN
14,"Gray, Sonny",2018,NYA,rhp-s,4.061,4.2,17.4,3575000.0,NaN,NaN,"$6,500,000",NaN
18,"Nelson, Jimmy",2018,MIL,rhp-s,3.107,3.9,4.5,547000.0,NaN,NaN,"$3,700,000",NaN

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,Next Year Salary,Estimate/Notes
4,"deGrom, Jacob",2018,NYN,rhp-s,3.139,5.9,17.1,4050000.0,NaN,NaN,"$7,400,000",NaN
8,"Keuchel, Dallas",2018,HOU,lhp-s,5.089,4.7,19.6,9150000.0,NaN,NaN,"$13,200,000",NaN
12,"Stroman, Marcus",2018,TOR,rhp-s,3.148,4.4,11.5,3400000.0,"$6,500,000","$6,900,000","$6,500,000",NaN
14,"Gray, Sonny",2018,NYA,rhp-s,4.061,4.2,17.4,3575000.0,NaN,NaN,"$6,500,000",NaN
18,"Nelson, Jimmy",2018,MIL,rhp-s,3.107,3.9,4.5,547000.0,NaN,NaN,"$3,700,000",NaN

In [76]:
### Player Lookup
file_names = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f']

player_lookup = pd.DataFrame()
for file in file_names:
    df = pd.read_csv(f'./data/player-id/people-{file}.csv', low_memory=False)
    
    player_lookup = pd.concat([player_lookup, df], ignore_index=True)
player_lookup.head()

,key_person,key_uuid,key_mlbam,key_retro,key_bbref,key_bbref_minors,key_fangraphs,key_npb,key_sr_nfl,key_sr_nba,...,pro_managed_first,pro_managed_last,mlb_managed_first,mlb_managed_last,col_managed_first,col_managed_last,pro_umpired_first,pro_umpired_last,mlb_umpired_first,mlb_umpired_last
0,000007d9,000007d9-a2b6-47fd-bc61-e582f190e74a,472542.0,NaN,NaN,garcia001ado,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000018b8,000018b8-a25e-45b8-b060-5c4877cb84cc,572962.0,NaN,NaN,kaupan001ste,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00002834,00002834-fa3c-48c4-842a-fc1308cbb4d3,NaN,NaN,NaN,smith-001ado,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00002901,00002901-1af6-4911-abe4-ec261b5f492c,NaN,NaN,NaN,decarl000lou,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000045b3,000045b3-e249-4d07-becf-dcce89efe4fd,NaN,NaN,NaN,spaine001har,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
print(player_lookup[player_lookup['key_fangraphs'] == 10155]['name_first'])

448390    Mike
Name: name_first, dtype: object

In [126]:
arb_bat = arbs[~arbs['Position'].str.contains('hp')]
split_names = arb_bat['Player'].str.split(', ', n=1, expand=True)
arb_bat[['last_name', 'first_name']]  = split_names
arb_bat.head()

/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_14731/1675751672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arb_bat[['last_name', 'first_name']]  = split_names
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_14731/1675751672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arb_bat[['last_name', 'first_name']]  = split_names

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,Next Year Salary,Estimate/Notes,last_name,first_name
0,"Blackmon, Charlie",2018,COL,cf,5.102,7.9,18.0,7300000.0,NaN,NaN,"$14,000,000",NaN,Blackmon,Charlie
1,"Bryant, Kris",2018,CHN,3b,2.171,6.6,21.5,1050000.0,NaN,NaN,"$10,850,000",NaN,Bryant,Kris
2,"Rendon, Anthony",2018,WAS,3b,4.130,6.2,17.7,5800000.0,NaN,NaN,"$12,300,000",NaN,Rendon,Anthony
3,"Ozuna, Marcell",2018,SLN,lf,4.124,6.1,14.8,3500000.0,NaN,NaN,"$9,000,000",NaN,Ozuna,Marcell
5,"Betts, Mookie",2018,BOS,rf,3.070,5.5,20.4,950000.0,"$7,500,000","$10,500,000","$10,500,000",NaN,Betts,Mookie

In [122]:
# MLB_STATS
mlb_stats = pd.read_csv('./data/mlb-stats-bat-2010-2023.csv')
split_names = mlb_stats['PlayerNameRoute'].str.split(' ', n=1, expand=True)
mlb_stats[['first_name', 'last_name']]  = split_names
# REMOVE PLAYERS WITH THE SAME NAME
# duplicates = arb_bat.duplicated(subset=['first_name', 'last_name', 'Season'])
# # Get the indices of rows where duplicates is True
# duplicate_indices = arb_bat.loc[duplicates, ['first_name', 'last_name', 'Season']]
# # Print the indices of duplicate rows
# print("Indices of Duplicate Rows:")
# print(duplicate_indices)
# Drop rows where playerName is 'Mookie Betts'
mlb_stats = mlb_stats[mlb_stats['PlayerNameRoute'] != 'Chris Young']
# Drop rows where playerName is 'Mookie Betts'
mlb_stats = mlb_stats[mlb_stats['PlayerNameRoute'] != 'Chris Carter']
# Drop rows where playerName is 'Mookie Betts'
mlb_stats = mlb_stats[mlb_stats['PlayerNameRoute'] != 'Luis Garcia']
mlb_stats.head()

,Bats,xMLBAMID,Name,Team,Season,Age,AgeR,SeasonMin,SeasonMax,G,...,TPA,PlayerNameRoute,PlayerName,playerid,TeamName,TeamNameAbb,teamid,Pos,first_name,last_name
0,R,545361,"<a href=""statss.aspx?playerid=10155&position=O...","<a href=""leaders.aspx?pos=all&stats=bat&lg=all...",2011,25.0,19 - 31,2011,2023,1489.0,...,6521.0,Mike Trout,Mike Trout,10155,LAA,LAA,1,0.0488,Mike,Trout
1,R,605141,"<a href=""statss.aspx?playerid=13611&position=O...",- - -,2014,26.0,21 - 30,2014,2023,1265.0,...,5757.0,Mookie Betts,Mookie Betts,13611,- - -,2 Tms,0,0.0105,Mookie,Betts
2,L,518692,"<a href=""statss.aspx?playerid=5361&position=1B...",- - -,2010,27.0,20 - 33,2010,2023,1885.0,...,8098.0,Freddie Freeman,Freddie Freeman,5361,- - -,2 Tms,0,0.0016,Freddie,Freeman
3,R,457763,"<a href=""statss.aspx?playerid=9166&position=C""...","<a href=""leaders.aspx?pos=all&stats=bat&lg=all...",2010,28.0,23 - 34,2010,2021,1364.0,...,5590.0,Buster Posey,Buster Posey,9166,SFG,SFG,30,0.0230,Buster,Posey
4,R,502671,"<a href=""statss.aspx?playerid=9218&position=1B...",- - -,2011,29.0,23 - 35,2011,2023,1774.0,...,7638.0,Paul Goldschmidt,Paul Goldschmidt,9218,- - -,2 Tms,0,0.0347,Paul,Goldschmidt

In [145]:
arb_data_with_stats = pd.merge(arb_bat, mlb_stats, on=['first_name', 'last_name', 'Season'], how='left')

arb_data_with_stats.head()

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,...,Q,TG,TPA,PlayerNameRoute,PlayerName,playerid,TeamName,TeamNameAbb,teamid,Pos
0,"Blackmon, Charlie",2018,COL,cf,5.102,7.9,18.0,7300000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Bryant, Kris",2018,CHN,3b,2.171,6.6,21.5,1050000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Rendon, Anthony",2018,WAS,3b,4.130,6.2,17.7,5800000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ozuna, Marcell",2018,SLN,lf,4.124,6.1,14.8,3500000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Betts, Mookie",2014,BOS,rf,3.070,5.5,20.4,950000.0,"$7,500,000","$10,500,000",...,3.7925,1518.0,5757.0,Mookie Betts,Mookie Betts,13611.0,- - -,2 Tms,0.0,0.0105

In [146]:
arb_data_with_stats.to_csv('./data/arb-data-with-stats.csv', index=False)
arb_data_with_stats.shape

(826, 370)

In [151]:
cleaned_data = pd.read_csv('./data/arb-data-with-stats.csv')

# Convert the 'Amount' column to numeric and remove non-valid columns
cleaned_data['Next Year Salary'] = pd.to_numeric(cleaned_data['Next Year Salary'].replace('[\$,]', '', regex=True), errors='coerce')
cleaned_data = cleaned_data.dropna(subset=['Next Year Salary'])

# Keep only columns in the list
columns_to_keep = ['Player', 'Season', 'MLS', 'Year Salary', 'Next Year Salary', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB%', 'K%', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG', 'wOBA', 'wRC+', 'playerid', 'first_name', 'last_name', 'Position']
cleaned_data = cleaned_data.loc[:, columns_to_keep]

cleaned_data.to_csv('./data/arb-predictor-data.csv', index=False)
cleaned_data.shape

(531, 30)