In [2]:
import pandas as pd
import numpy as np

In [6]:
salary_data = pd.read_csv('./data/arb_salaries_2010-2024.csv')
mlb_stats = pd.read_csv('./data/mlb-stats-bat_cleaned.csv')
mlb_stats['Year'] = mlb_stats['Season']+1

In [5]:
# # Arb Hitters
# arb_bat = salary_data[~salary_data['Position'].str.contains('hp')]
# arb_bat.head()
# 
# # Arb Pitchers
# arb_pitch = arbs[arbs['Position'].str.contains('hp')]
# arb_pitch.head()

In [17]:
arb_data_with_stats = pd.merge(salary_data, mlb_stats, on=['first_name', 'last_name', 'Year'], how='left')
arb_stats_bats = arb_data_with_stats[~arb_data_with_stats['Season'].isna()]
arb_stats_bats = arb_stats_bats[~arb_stats_bats['Salary Diff'].isna()]
arb_stats_bats.drop(['Team', 'Extension', 'Non-Tendered', 'Outrighted', 'first_name', 'last_name', 'Source', 'PlayerNameRoute', 'xMLBAMID'], axis=1, inplace=True)
# drop all of hte nan
arb_stats_bats.dropna(inplace=True)
arb_stats_bats

,Player,Service,Year,Next Year Salary,Salary,Salary Diff,Season,Age,G,PA,...,cum_sum_CS,cum_sum_BB,cum_sum_SO,cum_sum_TB,cum_sum_GDP,cum_sum_HBP,cum_sum_SH,cum_sum_SF,cum_sum_IBB,cum_sum_WAR
0,Adam Jones,3.139,2011,3250000.0,465000.0,2785000.0,2010.0,24.0,149.0,621.0,...,16.0,88.0,363.0,713.0,45.0,28.0,5.0,10.0,4.0,5.528901
1,Alberto Callaspo,3.135,2011,2000000.0,460000.0,1540000.0,2010.0,27.0,146.0,601.0,...,7.0,115.0,127.0,604.0,51.0,3.0,3.0,14.0,7.0,2.709052
2,Alberto Gonzalez,2.135,2011,600000.0,415500.0,184500.0,2010.0,27.0,115.0,198.0,...,3.0,30.0,72.0,196.0,23.0,5.0,7.0,7.0,1.0,-0.732835
3,Alex Gordon,3.092,2011,1400000.0,1150000.0,250000.0,2010.0,26.0,74.0,281.0,...,11.0,162.0,362.0,584.0,34.0,23.0,5.0,9.0,10.0,4.641154
4,Alexi Casilla,3.038,2011,865000.0,437500.0,427500.0,2010.0,25.0,69.0,170.0,...,4.0,77.0,128.0,313.0,24.0,5.0,24.0,9.0,0.0,0.167453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,J.D. Davis,4.137,2023,4210000.0,2760000.0,1450000.0,2022.0,29.0,115.0,365.0,...,2.0,146.0,392.0,554.0,45.0,23.0,0.0,8.0,5.0,4.569049
2541,Andrew Knizner,3.021,2023,1100000.0,718300.0,381700.0,2022.0,27.0,97.0,293.0,...,1.0,50.0,120.0,141.0,21.0,11.0,1.0,1.0,2.0,-1.739919
2552,Ryan O'Hearn,4.002,2023,1400000.0,1300000.0,100000.0,2022.0,28.0,67.0,145.0,...,1.0,98.0,287.0,374.0,21.0,6.0,0.0,7.0,3.0,-1.416611
2553,Ji-Man Choi,5.076,2023,4650000.0,3200000.0,1450000.0,2022.0,31.0,113.0,419.0,...,7.0,231.0,441.0,627.0,20.0,13.0,0.0,17.0,9.0,4.787123
2561,Jared Walsh,3.010,2023,2650000.0,730000.0,1920000.0,2022.0,28.0,118.0,454.0,...,2.0,86.0,340.0,518.0,13.0,11.0,0.0,6.0,11.0,2.304774

In [18]:
arb_data_with_stats.to_csv('./data/arb-data-with-stats_bats.csv', index=False)
arb_data_with_stats.shape

(2887, 62)

In [19]:
#sum all of the nan in the dataframe
arb_stats_bats.isna().sum()

Player              0
Service             0
Year                0
Next Year Salary    0
Salary              0
Salary Diff         0
Season              0
Age                 0
G                   0
PA                  0
AB                  0
R                   0
H                   0
2B                  0
3B                  0
HR                  0
RBI                 0
SB                  0
CS                  0
BB                  0
SO                  0
AVG                 0
OBP                 0
SLG                 0
OPS                 0
GDP                 0
HBP                 0
SH                  0
SF                  0
IBB                 0
WAR                 0
Defense             0
TB                  0
cum_sum_G           0
cum_sum_PA          0
cum_sum_AB          0
cum_sum_R           0
cum_sum_H           0
cum_sum_2B          0
cum_sum_3B          0
cum_sum_HR          0
cum_sum_RBI         0
cum_sum_SB          0
cum_sum_CS          0
cum_sum_BB          0
cum_sum_SO          0
cum_sum_TB          0
cum_sum_GDP         0
cum_sum_HBP         0
cum_sum_SH          0
cum_sum_SF          0
cum_sum_IBB         0
cum_sum_WAR         0
dtype: int64