In [233]:
import pandas as pd
import numpy as np

In [234]:
arb1 = pd.read_csv('./data/arb-data-2018-2022.csv')
arb2 = pd.read_csv('./data/arb-data-2023-2024.csv')

In [235]:
print(arb1.shape)
print(arb2.shape)
arb1.head()

(1285, 12)
(614, 12)

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,Next Year Salary,Estimate/Notes
0,"Blackmon, Charlie",2018,COL,cf,5.102,7.9,18.0,"$7,300,000",NaN,NaN,"$14,000,000",NaN
1,"Bryant, Kris",2018,CHN,3b,2.171,6.6,21.5,"$1,050,000",NaN,NaN,"$10,850,000",NaN
2,"Rendon, Anthony",2018,WAS,3b,4.130,6.2,17.7,"$5,800,000",NaN,NaN,"$12,300,000",NaN
3,"Ozuna, Marcell",2018,SLN,lf,4.124,6.1,14.8,"$3,500,000",NaN,NaN,"$9,000,000",NaN
4,"deGrom, Jacob",2018,NYN,rhp-s,3.139,5.9,17.1,"$4,050,000",NaN,NaN,"$7,400,000",NaN

In [236]:
# Clean up the data and add the years together
arb1['Estimate/Notes'] = arb1['Estimate/Notes'].astype(str)
arb2['Estimate/Notes'] = arb2['Estimate/Notes'].astype(str)
arbs = pd.concat([arb1, arb2], ignore_index=True)
# arbs['Year Salary'] = arbs['Year Salary'].str.replace('-', '')
arbs['Year Salary'] = pd.to_numeric(arbs['Year Salary'].replace('[\$,]', '', regex=True), errors='coerce')
arbs.to_csv('./data/all-arb-data.csv', index=False)
arbs.shape

(1899, 12)

In [237]:
# Arb Hitters
arb_bat = arbs[~arbs['Position'].str.contains('hp')]
arb_bat.head()

# Arb Pitchers
arb_pitch = arbs[arbs['Position'].str.contains('hp')]
arb_pitch.head()

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,Next Year Salary,Estimate/Notes
4,"deGrom, Jacob",2018,NYN,rhp-s,3.139,5.9,17.1,4050000.0,NaN,NaN,"$7,400,000",nan
8,"Keuchel, Dallas",2018,HOU,lhp-s,5.089,4.7,19.6,9150000.0,NaN,NaN,"$13,200,000",nan
12,"Stroman, Marcus",2018,TOR,rhp-s,3.148,4.4,11.5,3400000.0,"$6,500,000","$6,900,000","$6,500,000",nan
14,"Gray, Sonny",2018,NYA,rhp-s,4.061,4.2,17.4,3575000.0,NaN,NaN,"$6,500,000",nan
18,"Nelson, Jimmy",2018,MIL,rhp-s,3.107,3.9,4.5,547000.0,NaN,NaN,"$3,700,000",nan

In [238]:
# ### Player Lookup
# file_names = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f']
# 
# player_lookup = pd.DataFrame()
# for file in file_names:
#     df = pd.read_csv(f'./data/player-id/people-{file}.csv', low_memory=False)
#     
#     player_lookup = pd.concat([player_lookup, df], ignore_index=True)
# player_lookup.head()

In [239]:
# print(player_lookup[player_lookup['key_fangraphs'] == 10155]['name_first'])

In [240]:
arb_bat = arbs[~arbs['Position'].str.contains('hp')]
split_names = arb_bat['Player'].str.split(', ', n=1, expand=True)
arb_bat[['last_name', 'first_name']]  = split_names
arb_bat.head()

/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_14731/1675751672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arb_bat[['last_name', 'first_name']]  = split_names
/var/folders/mx/7b6cg1qd6ngdttv8tfdhzc1m0000gn/T/ipykernel_14731/1675751672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arb_bat[['last_name', 'first_name']]  = split_names

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,Next Year Salary,Estimate/Notes,last_name,first_name
0,"Blackmon, Charlie",2018,COL,cf,5.102,7.9,18.0,7300000.0,NaN,NaN,"$14,000,000",nan,Blackmon,Charlie
1,"Bryant, Kris",2018,CHN,3b,2.171,6.6,21.5,1050000.0,NaN,NaN,"$10,850,000",nan,Bryant,Kris
2,"Rendon, Anthony",2018,WAS,3b,4.130,6.2,17.7,5800000.0,NaN,NaN,"$12,300,000",nan,Rendon,Anthony
3,"Ozuna, Marcell",2018,SLN,lf,4.124,6.1,14.8,3500000.0,NaN,NaN,"$9,000,000",nan,Ozuna,Marcell
5,"Betts, Mookie",2018,BOS,rf,3.070,5.5,20.4,950000.0,"$7,500,000","$10,500,000","$10,500,000",nan,Betts,Mookie

In [241]:
# MLB_STATS
mlb_stats = pd.read_csv('./data/mlb-stats-bat-2010-2023.csv')
split_names = mlb_stats['PlayerNameRoute'].str.split(' ', n=1, expand=True)
mlb_stats[['first_name', 'last_name']]  = split_names
# REMOVE PLAYERS WITH THE SAME NAME
duplicates = arb_bat.duplicated(subset=['first_name', 'last_name', 'Season'])
# Get the indices of rows where duplicates is True
duplicate_indices = arb_bat.loc[duplicates, ['first_name', 'last_name', 'Season']]
# Print the indices of duplicate rows
print("Indices of Duplicate Rows:")
print(duplicate_indices)
# Drop rows where playerName is 'John Smith'
mlb_stats = mlb_stats[mlb_stats['PlayerNameRoute'] != 'Chris Young']
mlb_stats = mlb_stats[mlb_stats['PlayerNameRoute'] != 'Chris Carter']
mlb_stats = mlb_stats[mlb_stats['PlayerNameRoute'] != 'Luis Garcia']
mlb_stats.head()

Indices of Duplicate Rows:
Empty DataFrame
Columns: [first_name, last_name, Season]
Index: []

,Bats,xMLBAMID,Name,Team,Season,Age,AgeR,SeasonMin,SeasonMax,G,...,TPA,PlayerNameRoute,PlayerName,playerid,TeamName,TeamNameAbb,teamid,Pos,first_name,last_name
0,L,285078,"<a href=""statss.aspx?playerid=1875&position=OF...","<a href=""leaders.aspx?pos=all&stats=bat&lg=all...",2010,29.0,29 - 29,2010,2010,133.0,...,571.0,Josh Hamilton,Josh Hamilton,1875,TEX,TEX,13,0.0897,Josh,Hamilton
1,L,408307,"<a href=""statss.aspx?playerid=1201&position=OF...","<a href=""leaders.aspx?pos=all&stats=bat&lg=all...",2010,28.0,28 - 28,2010,2010,154.0,...,663.0,Carl Crawford,Carl Crawford,1201,TBR,TBR,12,0.0200,Carl,Crawford
2,R,446334,"<a href=""statss.aspx?playerid=9368&position=3B...","<a href=""leaders.aspx?pos=all&stats=bat&lg=all...",2010,24.0,24 - 24,2010,2010,151.0,...,661.0,Evan Longoria,Evan Longoria,9368,TBR,TBR,12,0.0000,Evan,Longoria
3,L,458015,"<a href=""statss.aspx?playerid=4314&position=1B...","<a href=""leaders.aspx?pos=all&stats=bat&lg=all...",2010,26.0,26 - 26,2010,2010,150.0,...,648.0,Joey Votto,Joey Votto,4314,CIN,CIN,18,0.0000,Joey,Votto
4,R,405395,"<a href=""statss.aspx?playerid=1177&position=1B...","<a href=""leaders.aspx?pos=all&stats=bat&lg=all...",2010,30.0,30 - 30,2010,2010,159.0,...,700.0,Albert Pujols,Albert Pujols,1177,STL,STL,28,0.0000,Albert,Pujols

In [242]:
# Arbitration Hearing in 2024 is based on 2023 stats
mlb_stats['Season'] = mlb_stats['Season'] + 1
arb_data_with_stats = pd.merge(arb_bat, mlb_stats, on=['first_name', 'last_name', 'Season'], how='left')

arb_data_with_stats.head()

,Player,Season,Club,Position,MLS,Year WAR/WARP,Career WARP,Year Salary,Player Request,Club Offer,...,Q,TG,TPA,PlayerNameRoute,PlayerName,playerid,TeamName,TeamNameAbb,teamid,Pos
0,"Blackmon, Charlie",2018,COL,cf,5.102,7.9,18.0,7300000.0,NaN,NaN,...,4.4753,162.0,725.0,Charlie Blackmon,Charlie Blackmon,7859.0,COL,COL,19.0,0.0000
1,"Bryant, Kris",2018,CHN,3b,2.171,6.6,21.5,1050000.0,NaN,NaN,...,4.1049,162.0,665.0,Kris Bryant,Kris Bryant,15429.0,CHC,CHC,17.0,0.0000
2,"Rendon, Anthony",2018,WAS,3b,4.130,6.2,17.7,5800000.0,NaN,NaN,...,3.7346,162.0,605.0,Anthony Rendon,Anthony Rendon,12861.0,WSN,WSN,24.0,0.0000
3,"Ozuna, Marcell",2018,SLN,lf,4.124,6.1,14.8,3500000.0,NaN,NaN,...,4.1914,162.0,679.0,Marcell Ozuna,Marcell Ozuna,10324.0,MIA,MIA,20.0,0.0127
4,"Betts, Mookie",2018,BOS,rf,3.070,5.5,20.4,950000.0,"$7,500,000","$10,500,000",...,4.3951,162.0,712.0,Mookie Betts,Mookie Betts,13611.0,BOS,BOS,3.0,0.0000

In [243]:
arb_data_with_stats.to_csv('./data/arb-data-with-stats.csv', index=False)
arb_data_with_stats.shape

(827, 370)

In [244]:
cleaned_data = pd.read_csv('./data/arb-data-with-stats.csv')

# Convert the 'Amount' column to numeric and remove non-valid columns
cleaned_data['Next Year Salary'] = pd.to_numeric(cleaned_data['Next Year Salary'].replace('[\$,]', '', regex=True), errors='coerce')

cleaned_data = cleaned_data.loc[~((cleaned_data['Season'] < 2024) & (cleaned_data['Next Year Salary'].isna()) & (cleaned_data['G'].isna()))]
# cleaned_data = cleaned_data[cleaned_data['G'].notna() | cleaned_data['Season'] == 2024]


# Keep only columns in the list
columns_to_keep = ['Player', 'Season', 'MLS', 'Year Salary', 'Next Year Salary', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB%', 'K%', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG', 'wOBA', 'wRC+', 'playerid', 'Position']
cleaned_data = cleaned_data.loc[:, columns_to_keep]
cleaned_data['Position'] = cleaned_data['Position'].str.split('-').str[0]
cleaned_data = pd.get_dummies(cleaned_data, columns=['Position'], prefix='Position')

cleaned_data.to_csv('./data/arb-predictor-data_bat.csv', index=False)
cleaned_data.shape

(807, 38)