In [13]:
import pandas as pd
import numpy as np

In [14]:
salary_data = pd.read_csv('./data/arb_salaries_2010-2024.csv')
mlb_bat_stats = pd.read_csv('./data/mlb-stats-bat_cleaned.csv')
mlb_bat_stats['Year'] = mlb_bat_stats['Season']+1

In [15]:
# # Arb Hitters
# arb_bat = salary_data[~salary_data['Position'].str.contains('hp')]
# arb_bat.head()
# 
# # Arb Pitchers
# arb_pitch = arbs[arbs['Position'].str.contains('hp')]
# arb_pitch.head()

In [71]:
arb_data_with_bat_stats = pd.merge(salary_data, mlb_bat_stats, on=['first_name', 'last_name', 'Year'], how='left')
arb_data_with_bat_stats.rename(columns={'Season':'SeasonStat'}, inplace=True)
# arb_data_with_bat_stats = arb_data_with_bat_stats[~(arb_data_with_bat_stats['SeasonStat'].isna() | arb_data_with_bat_stats['Extension']==False | arb_data_with_bat_stats['Non-Tendered']==False  | arb_data_with_bat_stats['Outrighted']==False)]
arb_data_with_bat_stats = arb_data_with_bat_stats.query('Extension==False | `Non-Tendered`==False | Outrighted==False')
arb_data_with_bat_stats = arb_data_with_bat_stats.query('(Year == 2024) | (`Salary Diff`.notna())')
arb_data_with_bat_stats = arb_data_with_bat_stats.query('Age.notnull()')
arb_data_with_bat_stats = arb_data_with_bat_stats.query('Service.notna()')

arb_data_with_bat_stats.drop(['Team', 'Extension', 'Non-Tendered', 'Outrighted', 'first_name', 'last_name', 'Source', 'PlayerNameRoute', 'xMLBAMID'], axis=1, inplace=True)

# arb_stats_bats.dropna(inplace=True)
# arb_data_with_stats[arb_data_with_stats['Year']==2024]
# arb_data_with_bat_stats.query('Year != 2024').isna().sum()
arb_data_with_bat_stats.query('Year==2024').count()

Player              112
Service             112
Year                112
Next Year Salary      0
Salary              100
Salary Diff           0
SeasonStat          112
Age                 112
G                   112
PA                  112
AB                  112
R                   112
H                   112
2B                  112
3B                  112
HR                  112
RBI                 112
SB                  112
CS                  112
BB                  112
SO                  112
AVG                 112
OBP                 112
SLG                 112
OPS                 112
GDP                 112
HBP                 112
SH                  112
SF                  112
IBB                 112
WAR                 112
Defense             112
TB                  112
cum_sum_G           112
cum_sum_PA          112
cum_sum_AB          112
cum_sum_R           112
cum_sum_H           112
cum_sum_2B          112
cum_sum_3B          112
cum_sum_HR          112
cum_sum_RBI         112
cum_sum_SB          112
cum_sum_CS          112
cum_sum_BB          112
cum_sum_SO          112
cum_sum_TB          112
cum_sum_GDP         112
cum_sum_HBP         112
cum_sum_SH          112
cum_sum_SF          112
cum_sum_IBB         112
cum_sum_WAR         112
dtype: int64

In [73]:
arb_data_with_bat_stats.to_csv('./data/arb-data-with-stats_bats.csv', index=False)
arb_data_with_bat_stats.query('Year==2024')

,Player,Service,Year,Next Year Salary,Salary,Salary Diff,SeasonStat,Age,G,PA,...,cum_sum_CS,cum_sum_BB,cum_sum_SO,cum_sum_TB,cum_sum_GDP,cum_sum_HBP,cum_sum_SH,cum_sum_SF,cum_sum_IBB,cum_sum_WAR
2580,Juan Soto,5.134,2024,NaN,23000000.0,NaN,2023.0,24.0,162.0,708.0,...,19.0,640.0,577.0,1418.0,74.0,12.0,2.0,16.0,65.0,28.424185
2582,Kyle Tucker,4.079,2024,NaN,5000000.0,NaN,2023.0,26.0,157.0,674.0,...,13.0,220.0,356.0,995.0,36.0,8.0,0.0,18.0,21.0,16.270751
2583,Vladimir Guerrero Jr.,4.157,2024,NaN,14500000.0,NaN,2023.0,24.0,156.0,682.0,...,8.0,277.0,455.0,1239.0,92.0,25.0,0.0,12.0,19.0,10.098745
2584,Luis Arraez,4.121,2024,NaN,6100000.0,NaN,2023.0,26.0,147.0,617.0,...,10.0,172.0,165.0,848.0,37.0,10.0,1.0,16.0,15.0,10.578219
2585,Jonah Heim,3.097,2024,NaN,745660.0,NaN,2023.0,28.0,131.0,501.0,...,1.0,99.0,244.0,465.0,29.0,3.0,1.0,8.0,2.0,7.712797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2861,Trayce Thompson,4.010,2024,NaN,1450000.0,NaN,2023.0,32.0,72.0,179.0,...,3.0,115.0,346.0,384.0,11.0,4.0,1.0,3.0,2.0,2.998989
2864,Carlos Perez,3.167,2024,NaN,740000.0,NaN,2023.0,32.0,68.0,189.0,...,0.0,47.0,165.0,257.0,21.0,6.0,13.0,7.0,0.0,-0.464576
2865,Garrett Stubbs,3.120,2024,NaN,741000.0,NaN,2023.0,30.0,41.0,125.0,...,1.0,29.0,73.0,100.0,3.0,2.0,5.0,1.0,0.0,0.149531
2866,J.D. Davis,5.137,2024,NaN,4210000.0,NaN,2023.0,30.0,144.0,546.0,...,2.0,198.0,544.0,752.0,61.0,29.0,0.0,14.0,5.0,6.726676
2870,Tyler Stephenson,3.056,2024,NaN,740000.0,NaN,2023.0,26.0,142.0,517.0,...,1.0,102.0,266.0,418.0,31.0,14.0,0.0,8.0,3.0,3.094183